body {
    background: url(../images/back1.jpg);
    font-family: 'Bookman Old Style';
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, label, p {
    margin: 0;
}

.main {
    padding: 7em 0;
}

.header {
    background: #039be5;
    padding: 1em 1em 0;
    margin: 0 1em;
    font-weight: bold;
}

.logo {
    float: left;
}

    .logo a.go {
        width: auto;
    }

.logoText {
    float: left;
    padding: 4em 1em 0;
    color: #81d4fa;
}

.header-top {
    float: right;
    width: 70%;
}

.search {
    position: relative;
    border-bottom: 2px solid #81d4fa;
    /*border-bottom: 1px solid #009688;*/
}

    .search input[type="text"] {
        outline: none;
        padding: 8px 15px;
        background: none;
        width: 85%;
        border: none;
        font-size: 2em;
        /*color: #EDE7F6;*/
        color: #81d4fa;
        font-weight: bold;
    }

    .search input[type="submit"] {
        border-style: none;
        border-color: inherit;
        border-width: medium;
        cursor: pointer;
        position: absolute;
        outline: none;
        top: 20px;
        right: 0px;
        background: url(../images/img-sprite.png)no-repeat -9px -16px;
        width: 30px;
    }

.top-nav {
    padding: 2em 0 0;
}

    .top-nav ul li {
        display: inline-block;
    }

        .top-nav ul li a {
            display: inline-block;
            color: #81d4fa;
            /*color: #009688;*/
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
            padding: 1em 1.5em;
        }

            .top-nav ul li a:hover, .top-nav ul li.active a {
                color: #fff;
                border-bottom: 3px solid #ffff00;
            }

    .top-nav span.menu-in {
        display: none;
    }

p.footer-class {
    padding: 4em 0 0;
    text-align: center;
    font-size: 1.1em;
    color: #039be5;
}

    p.footer-class a {
        text-decoration: none;
        color: #d81b60;
    }

        p.footer-class a:hover {
            color: #039be5;
        }


.orderPage_Container {
    float: left;
    padding: 0;
    margin: 0 0 0 1em;
    width: 97.5%;
    height: auto;
    border: 2px solid #FFF;
    background: #FFF;
}

.selectbox {
    width: 250px;
    height: 27px;
    background-color: #FFF;
    font: 400 12px/18px 'Open Sans', sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px 0 0 0;
    padding: 5px;
}

.textbox {
    width: 250px;
    height: 27px;
    background-color: #FFF;
    font: 400 12px/18px 'Open Sans', sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #ccc;
    margin: 5px 0 0 0;
    padding: 5px;
}

.tblOrderPage, .tblVendor {
    margin: 1em;
}

    .tblOrderPage label, .tblVendor label, .tblItems label {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 100%;
        padding-top: .1em;
        padding-right: 5em;
        width: auto;
        text-align: right;
        float: left;
        color: #009688;
    }

.dVendorSelection, .dVendorDetails {
    float: left;
}

.dButtons {
    float: right;
    margin: 1em;
}

.dItemDetails {
    clear: both;
    width: 100%;
}

.dPayment {
    margin: 0 1em 0 1em;
    float: right;
}

.buttons {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
    font-weight: bold;
}

    .buttons:hover, .buttons:focus {
        background-color: #27ae60;
    }

.tdHeader {
    background-color: #E3F2FD;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.tblVendor, .tblVendor td {
    border: 2px ridge #4db6ac;
    text-align: center;
}

.reset {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 30px;
}

.runningText {
    font-size: 15px;
    color: red;
    float: left;
    width: 100%;
}

.detail {
    float: left;
    margin-bottom: 10px;
    padding: 10px;
}

.tblItems, .tblItems td {
    border: 2px ridge #4db6ac;
    text-align: center;
}
